.navbar-brand{
    padding-left: 3%;
}

.Activo{
    text-underline-position: under;
    text-decoration: none;
     margin-top:6%; 
     color: #2699FB !important;
     text-underline-position: under;
}
.Activo a{
   
    text-decoration: none;
     margin-top:6%; 
     color: #2699FB !important;
     
}
a:hover{
    color: #2699FB !important;  
}
.Activo:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: 0.3s ease-in-out;
  }

.Activo:hover{
    background-color:green,
}
.NoActivo{
    color: black !important; 
    margin-top:6%;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: 'red';
    background-color: none;
  }